
.underline-header {
    border-bottom: 3px #f3f3f3 solid;
}

.underline-header h5 {
    border-bottom: 3px #28a745 solid;
    display: inline-block;
    margin: 0px;
    margin-bottom: -3px;
    padding-bottom: 10px;
}